/.DS_Store
/AzureVision
/Jakob_accessKeys.csv
/__pycache__
/api_secrets.py
/captured_image.jpg
/chatgptPrompt.wav
/choicePrompt.wav
/converted_audio.mp3
/detect_emotion.py
/evaluateEmotions.py
/getWeather.wav
/happy.jpg
/idling.wav
/initialPrompt.wav
/load_mp3.py
/neil_smiling.bmp
/neil_smiling.jpg
/neil_smiling.png
/output.wav
/record_audio.py
/sad.jpg
/set_alarm.py
/textToSpeech.mp3
/timer.py
/timer.wav
/timerAlert.wav
/tkinterPhotoDisplay.py
/transcribe_audio.py
/waitPhrase.wav
/weather_data.py